
#Whisker-Menu theming
style "darkback"
{
	bg[NORMAL] = "#000000"
	bg[ACTIVE] = "#1f1f1f"
	bg[PRELIGHT] = "#0b5a98"
	fg[NORMAL] = "#ccc"
	fg[ACTIVE] = "#fff"
	fg[PRELIGHT] = "#fff"
}
widget "whiskermenu-window*" style "darkback"

style "darktree"
{
	base[NORMAL] = "#000000"
	base[ACTIVE] = "#0b5a98"
	text[NORMAL] = "#ccc"
	text[ACTIVE] = "#fff"
}
widget "whiskermenu-window*TreeView*" style "darktree"

#Xfce-desktop text settings
style "xfdesktop-icon-view" 
{
	XfdesktopIconView::label-alpha = 0

	#Text colors you can delete these if you want you use gtk theme colors
	fg[NORMAL] = "#ffffff"
	fg[SELECTED] = "#ffffff"
	fg[ACTIVE] = "#ffffff"
}
widget_class "*XfdesktopIconView*" style "xfdesktop-icon-view"

style "panel"
{
	xthickness = 0
	ythickness = 0

	bg[NORMAL]	= "#000000"
	bg[ACTIVE]	= "#000000"
	bg[PRELIGHT]	= "#000000"
	bg[SELECTED]	= "#000000"

	fg[NORMAL]	= "#ffffff"
	fg[PRELIGHT]	= "#ffffff"
	fg[ACTIVE]	= "#ffffff"
	fg[SELECTED]	= "#ffffff"

	text[NORMAL]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
	text[ACTIVE]	= "#ffffff"
	text[SELECTED]	= "#ffffff"
}

style "panel-text"
{
	fg[NORMAL]	= "#ffffff"
	fg[PRELIGHT]	= "#ffffff"
	fg[ACTIVE]	= "#ffffff"

	text[NORMAL]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
	text[ACTIVE]	= "#ffffff"
}

widget "*PanelWidget*"			style "panel"
widget "*PanelApplet*"			style "panel"
widget "*fast-user-switch*"		style "panel"
widget "*CPUFreq*Applet*"		style "panel"
widget "*TopMenu*"		style "panel"
class "PanelApp*"			style "panel"
class "PanelToplevel*"			style "panel"
widget_class "*PanelToplevel*"		style "panel"
widget_class "*notif*"			style "panel"
widget_class "*Notif*"			style "panel"
widget_class "*Tray*"			style "panel"
widget_class "*tray*"			style "panel"
widget_class "*computertemp*"		style "panel"
widget_class "*Applet*Tomboy*"		style "panel"
widget_class "*Applet*Netstatus*"	style "panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"		style "panel"
widget_class "*Notif*Brasero*"		style "panel"

# XFCE panel theming.
widget "*Xfce*Panel*"			style "panel"
class "*Xfce*Panel*"			style "panel"

widget_class "*Panel*MenuBar*"		style "panel-text"
widget_class "*Panel*<GtkMenuBar>*"	style "panel-text"
widget "*.clock-applet-button.*"	style "panel-text"
widget "*PanelApplet*"			style "panel-text"
